body {
  margin: 0;
  font-family: monospace;
  background: #1A1A1A;
  color: white;
}

#parent {
  position: relative;
  margin: none;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  width: 600px;
  padding: 20px;
  border: 1px solid white;
}

.box {
  background: white;
  position: absolute;
  border-radius: 50%;
}

.info-box {
  width: 600px;
  height: 100px;
  position: relative;
  margin: none;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid white;
  border-top: none;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  text-align: center;
}


.title {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 28px;
}

.link{
  border-radius:28px;
  border:1px solid white;
  cursor:pointer;
  font-size:31px;
  padding:10px 16px;
  text-decoration:none;
  margin-top: auto;
  margin-bottom: auto;
  text-decoration: none;
  color: white;
}

.link:hover {
  color: black;
  background: white;
}
